---
layout: base
eleventyExcludeFromCollections: true
---

<div class="page page--404">
    <header class="page__header">
        <h1 class="page__title">Putz!</h1>
        <p class="page__subtitle">Você caiu em uma 404.</p>
    </header>
    <div class="page__content markdown">
        <p>Desculpe por isso - pode ser uma URL errada, ou talvez essa página já foi de base? Enfim, aproveite essa página!</p>
        <p class="u-align-center"><a href="/" class="btn btn--primary">Tô de boa, Volta pra Home</a></p>
    </div>
</div>